@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

header {
  background-size: cover;
  background-position: center;
}

body {
  font-family: 'Poppins', sans-serif;
  /* You can adjust the font-weight and other styles here */
}


body {
  background: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}